body {
    margin-top: 45px;
    background: url('../images/absurdidad.png');
}

.item-container {
    background: #fcfcfc;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #eee;
    margin-top: 20px;
}

.item {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.item :hover {
}

.number {
    float: left;
    margin-top: 5px;
    background: #dd4814;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.number-data {
    text-align: center;
}

.upvotes {
    float: left;
    margin-left: 15px;
    border-radius: 15px;
    background: #f5f5f5;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.upvotes:hover {
    background: #eee;
}

.item-content {
    float: left;
    margin-left: 20px;
}

.item-link {
    font-size: 130%;
}

.item-author {
    font-size: 11px;
}

.item-source {
    color: #808080;
    margin-left: 5px;
    font-size: 11px;
}

.comment {
    float: left;
    margin-left: 15px;
}

a.fill-div {
    height: 100%;
    width: 100%;
    text-decoration: none;
}



/* Bidra */

.bulk {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
